* {
	box-sizing: border-box;
}

body {
	background: #FFCBDB;
	text-align: center;
	font-family: "Montserrat", sans-serif;
	color: #D96A34;
}

.galerie {
	width: 90%;
	border: 1px double #ccc;
	display: table;
	margin-right: auto;
	margin-left: auto;
	align-items: center;
}

h1 {
	font-family: "Kaushan Script", serif;
	font-size: 50px;
	text-decoration: none;
	letter-spacing: 0.2em;
	text-align: center;
	color: #151E27;
	position: relative;
	margin: 40px 0;
}

h2 {
	font-family: "Kaushan Script", serif;
	font-size: 30px;
	color: #5F91E3;
}

h3 {
	margin-top: 20px;
	margin-bottom: 10px;
	background-color: #F5BF55;
	width: 30%;
	height: 25px;
	text-align: center;
	align-content: center;
	border: 2px;
	border-radius: 10px;
	box-shadow: 5px 5px lightblue;
}

.responsive {
	padding: 10px;
	float: left;
	width: 24.99999%;
}

div.gallery {
	border: 3px solid #ccc;
}

div.gallery:hover {
	border: 3px solid #777;
}

div.gallery img {
	width: 100%;
	height: 400px;
}

div.desc {
	padding: 20px;
	text-align: center;
}

@media only screen and (max-width: 700px) {
	.responsive {
		width: 49.99999%;
		margin: 6px 0;
	}
}

@media only screen and (max-width: 500px) {
	.responsive {
		width: 100%;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}